# === MOJA KOLEKCJA ŚMIECI (DO IGNOROWANIA) ===
build/
bin/
obj/
*build-*

# === Qt / C++ konkretne pliki ===
*.user
*.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# === QtCreator specyficzne ===
.qtcreator/
*.autosave
CMakeLists.txt.user*
compile_commands.json

# === Systemowe ===
.DS_Store
Thumbs.db